<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/a3a8254123.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" th:href="@{/styles/stylesheet.css}" type="text/css">
</head>
<body>
<div class="row">
    <div class="col-2">
        <ul class="nav flex-column">
            <li class="nav-item">
                <h3><a class="nav-link active" th:href="@{/}"><i class="fas fa-feather-alt"></i></a></h3>
            </li>
            <li class="nav-item">
                <a class="nav-link active" th:href="@{/}"><h3>Home</h3></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/newMessage}"><h3>New Post</h3></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/profile}"><h3>Profile</h3></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/posts}"><h3>Your Posts</h3></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/login}"><h3>Log In</h3></a>
            </li>
            <li class="nav-item">
                <form th:action="@{/logout}" method="post">
                    <input type="submit" value="Logout">
                </form>

            </li>
        </ul>
    </div>
    <div class="col-5">
        <div class="container text-center" id="login">

            <form th:action="@{/newMessage}" th:object="${message}" method="post">

                <input type="hidden" th:field="*{id}"/>
                <input type="hidden" th:field="*{user}"/>
                <div class="form-group">
                    <label for="post">New Post</label>
                    <textarea rows="3" class="form-control" id="post" th:field="*{content}"/>
                </div>

                <div style="padding-bottom: 5px">
                    <input type="submit" value="Post"/>
                </div>

            </form>
        </div>
    </div>
    <div class="col-2"></div>
</div>










<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
</body>
</html>